<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Amira's Assessment</title>
  <!-- <link rel='stylesheet' type='text/css' media='screen' href="{{url_for('static', filename='styles/css/bootstrap.css')}}"> -->
  <link rel='stylesheet' type='text/css' href="{{url_for('static', filename='styles/css/style.css')}}">

</head>
<body>
  <div class="center">
    <img src="{{url_for('static', filename='/img/nero-index.png')}}" usemap="#index" alt="">
        <map name="index">
            <area shape="rect" coords="300,1,356,51" alt="oscon" href="/oscon">
            <area shape="rect" coords="688,7,730,43" alt="networks" href="/networks">
            <area shape="rect" coords="1063,9,1105,45" alt="poynt" href="/poynt">
            <area shape="rect" coords="1440,10,1479,43" alt="node" href="/node">
        </map>
  </div>
</body>
</html>
